
body {

  background-color: rgb(174, 214, 241);   
        }
       #verdecito {
            color: rgb(26, 188, 156);
        }
        
          #sofi {
         color: rgb(136, 78, 160);
        }
         
           
</body>
      